<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Гостевая книга</title>
</head>
<body>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Гостевая книга</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Здесь вы можете написать всё, что вы думаете о моём сайте! Запись можно оставить, но не удалить.
      Если вы напортачили или видите, как кто-то другой напортачил, свяжитесь со мной через
          <a href="https://t.me/portland_simp" target="_blank">Telegram</a>!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('add_post') }}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Добавить запись!</a>
      </div>
    </div>
  </div>

<div class="container">

    {% for post in posts%}

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    {{ post.name }}
                </div>
                <div class="col-2">
                    {{ post.update_on }}
                </div>
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    {{ post.text }}
                </p>
            </blockquote>
        </div>
    </div>

    {% endfor %}

</div>

</body>
</html>